{% extends 'FrontBundle::base.html.twig' %}

{% block title %}{{ 'back.login.title'|trans() }}{% endblock %}

{% block body %}
    <div class="container" id="loginPage">

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form action="{{ path('login') }}" method="post" class="form-signin">
            <h2 class="form-signin-heading">{{ 'back.login.please'|trans() }}</h2>

            <label for="username" class="sr-only">{{ 'back.login.login'|trans() }}:</label>
            <input type="email" id="username" name="_username" value="{{ last_username }}"
                   placeholder="{{ 'back.login.login'|trans() }}" class="form-control" required autofocus />

            <label for="password" class="sr-only">{{ 'back.login.password'|trans() }}:</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'back.login.password'|trans() }}" required />

            <p>
                <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'back.login.login_button'|trans() }}</button>
            </p>
        </form>
    </div>

{% endblock %}